/*Aqui van los estilos de la barra de navegacion*/
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:white;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
border-bottom:3px solid #003DA5;
position: fixed;
top: 0;
left: 0;
right: 0;
width: 100%;
z-index: 1000;
box-sizing: border-box;
}

/* MENU */

.menu{
display:flex;
gap:25px;
list-style:none;
margin:0;
padding:0;
}

.menu a{
text-decoration:none;
color:#333;
font-family:'Montserrat', sans-serif;
padding:8px 12px;
border-radius:6px;
transition:all 0.3s ease;
}

/* hover */

.menu a:hover{
background:#D6A600;
color:rgb(251,242,242);
}

/* boton activo */

.menu a.active{
background:#003DA5;
color:white;
}

/* LOGIN */

.login-btn{
background:#003DA5;
color:white;
padding:8px 18px;
border-radius:6px;
text-decoration:none;
}

/* LOGO */

.logo{
text-decoration:none;
display:flex;
align-items:center;
gap:5px;
font-family:'Montserrat', sans-serif;
font-size:25px;
white-space:nowrap;
}

.logo-pit{
color:#D6A600;
font-weight:700;
}

.logo-fes{
color:#003DA5;
font-weight:600;
}

.logo-icon{
width: 2rem;
height: 2rem;
font-size:25px;
color:#D6A600;
transition:0.3s;
}

.logo:hover .logo-icon{
transform:rotate(-10deg) scale(1.5);
}

/*Estilo botones iniciales*/
/* Estilo para que el botón se vea exactamente como NavLink */

.nav-button{
display:flex;
gap:25px;
list-style:none;
margin:0;
padding:0;

background-color: transparent;
text-decoration:none;
color:#333;
font-family:'Montserrat', sans-serif;
font-size: large;
padding:8px 12px;
border-radius:6px;
transition:all 0.3s ease;
/* Agrega todas estas propiedades */
border: none;
outline: none;
box-shadow: none;
-webkit-tap-highlight-color: transparent; /* Para móviles */
}

/* hover */
.nav-button:hover{
background:#D6A600;
color:rgb(251,242,242);
}

/* boton activo */
.nav-button.active{
background:#003DA5;
color:white;
}


/* BOTON HAMBURGUESA */

.hamburger{
display:none;
cursor:pointer;
font-size:30px;
}

/* ---------------- */
/* RESPONSIVE MOVIL */
/* ---------------- */

@media (max-width:768px){

.navbar{
padding:12px 20px;
}

/* mostrar icono hamburguesa */

.hamburger{
display:block;
}

/* ocultar login */

.login-btn{
display:none;
}

/* menu desplegable */

.menu{
position:absolute;
top:70px;
left:0;
width:100%;
background:white;
flex-direction:column;
align-items:center;
gap:15px;
padding:20px 0;
display:none;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

/* cuando se abre */

.menu.open{
display:flex;
}

/* logo un poco más pequeño */

.logo{
font-size:20px;
}

.logo-icon{
font-size:20px;
}

}
